@import "../res/css/bootstrap.css";

html,
body {
    margin: 0;
    padding: 0;
}

#content {
    position: relative;
    margin-bottom: 30px;
}

#footer {
    position: relative;
    top: 800px;
    text-align: center;
}

#action_view {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 200px;
}

#chart_view {
    position: absolute;
    top: 200px;
    left: 0;
    width: 700px;
    height: 400px;
}
